
body {
    font-family: Roboto, sans-serif;
    font-size: 16px;
    font-style: normal;
    font-weight: 400;
    line-height: 1.5;
    color: #434455;
    background-color: #FFF;
}

a {
    text-decoration: none;
    font-style: normal;
}
a:hover {
    cursor: pointer;
}


.logo-style {
    font-family: Raleway, sans-serif;
    color:#4d5ae5;
    text-transform: uppercase;
    font-size: 18px;
    font-weight: 700;
    line-height: 1.17;
    letter-spacing: 0.54px;
    text-decoration: none;
}

.logo-style span {
    color: #2e2f42;
}
.h1class {
    font-size: 56px;
    line-height: 1.07;
    text-align: center;
    letter-spacing: 0.02em;
    color: #ffffff;
}


.section1 {
    background-color: #2E2F42;
}


.navigationlink {
    color: #2E2F42;
    font-weight: 500;
    line-height: 1.5;
    letter-spacing: 0.32px;
}
.navigationlink:hover, .navigationlink:focus, .adresslink:hover,
.adresslink:focus {
    color: #404BBF;
}

.adress {
    color:#434455;
    font-style: normal;
}
.adresslink {
    letter-spacing: 0.02em;
    color: #434455;
}

.buttonh1 {
    background: #4D5AE5;
    font-weight: 500;
    font-family: "Roboto", sans-serif;
    line-height: 1.5;
    cursor: pointer;
    font-size: 16px;
    letter-spacing: 0.04em;
    color: #ffffff;
}

.buttonh1:hover, .buttonh1:focus  {
    background: #404BBF;
}
.drittetittel {
    font-weight: 500;
    font-size: 20px;
    line-height: 1.2;
    letter-spacing: 0.02em;
    color: #2e2f42;
}
.our-description {
    font-size: 16px;
    line-height: 1.5;
    letter-spacing: 0.02em;
    color: #434455;
}
.our-team {
    background-color: #F4F4FD;
}
.sectionname {
    font-size: 36px;
    line-height: 1.11;
    text-align: center;
    letter-spacing: 0.02em;
    text-transform: capitalize;
    color: #2e2f42;
}
.section3list {
    background-color: #FFFFFF;
}
.footer {
    background-color: #2e2f42;
}
.footerP {
    color: #f4f4fd;
}
.footerlogo {
    font-family: "Raleway", sans-serif;
    font-weight: 700;
    font-size: 18px;
    line-height: 1.17;
    letter-spacing: 0.03em;
    text-transform: uppercase;
    color: #4d5ae5;
}
.footerlogospan {
    color: #f4f4fd;
    
}